/* Esconda o círculo padrão */
input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 10%;
  }
  input[type="radio"]:checked::before {
    display: block;
    
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #333; /* Cor do ícone */
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 10%;
  }
  
  .tabela{
    width: 100% !important;
  }

  .tabera {
    width: 72% !important; /*Importante manter o !important rs */
    margin: auto;
    margin: auto;
    margin-top: 50px;
}

.table-status {
  margin-top: 20px;
  margin-bottom: 20px !important;
}
 
  
  
  
  
  
  
  
  